$primary: #3498db;
$primaryLight: rgba($primary, 0.25);
$secondary: #ffa500;
$white: #fff;
$background: rgba(0, 0, 0, 0.4);
$border: rgba(0, 0, 0, 0.5);
$empty: #f1f1f1;
$success: rgba(#00c800, 0.75);
$failed: rgba(#ff0000, 0.75);
